# Python
__pycache__/
.pytest_cache/
*.py[cod]
*.pyd
*.pyc
*.so
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment / secrets
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

media/